/* 共通 */
main {margin-bottom: 5rem;margin-top: 5rem;}
.v-application{font-family: 'M PLUS 1p', sans-serif!important;}
.v-toolbar{position: fixed!important;}
#logo{left: 50%;position: absolute;top: 50%;transform: translate(-50%,-50%);}
a {text-decoration: none;color: #222!important;}
.add_post {position: fixed!important;bottom: 10px;right: 10px;z-index: 3;}
.nav_tool{left: 0;right: 0;top: 0;z-index: 3;}
.nav_tool>div{margin: 0 auto;}
.footer_toolbar{left: 0;right: 0;bottom: 0;z-index: 3;background-color: #f8f8f8;align-items: center;display: flex;height: 45px;padding: 0px 16px;position: fixed!important;border-top: 1px solid #e4e4e4;}
.v-sheet.v-toolbar:not(.v-sheet--outlined) {border-bottom: 1px solid #e4e4e4;box-shadow: none!important;}
.v-menu__content {position: fixed!important;top: 285px!important;}
.footer {height: 45px!important;}
.message {margin-bottom: 0.7rem;}
/* regist */
#regist {max-width: 600px;}
/* Withdrawal */
#withdrawal {max-width: 600px;}
/* post_list */
.post_list .pc_menu{position: sticky;margin-bottom: 0;top: 80px;position: -webkit-sticky;z-index: 1;align-self: flex-start;flex-grow: 1;}
.post_list .pc_menu .menu_layout{border-radius: 4px;background-color: #f0f0f0;}
.post_list .pc_menu .search_title{font-size: 1.15rem;}
.post_list .sp_menu .upper{left: 0;right: 0;top: 55px;bottom: 0px;position: fixed!important;opacity: 0.46;background-color: rgb(33, 33, 33);}
.post_list .sp_menu .menu{left: 0;right: 0;bottom: 45px;position: fixed!important;background-color: #f0f0f0;}
.post_list .post .thumbnail{text-align: center;align-items: center;display: flex;justify-content: center;background-color: black;}
.post_list .post .thumbnail .back_image{max-height: 100%;}
.post_list .post .niconico_thumbnail{text-align: center;align-items: center;display: flex;justify-content: center;background-color: white;}
.post_list .post .niconico_thumbnail .back_image{height: 100%;}
.post_list .post .title_over_text {overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.post_list .post .name_over_text {overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 1;display: -webkit-box!important;}
.post_list .post .v-card__title {display: -webkit-box!important;font-size: 1.1rem!important;padding-top: 1px!important;padding-right: 16px!important;padding-bottom: 1px!important;padding-left: 1px!important;position: absolute;display: block;color: rgba(255, 255, 255, 0.8);top: 10%;left: 0;text-align: right;text-shadow:black 2px 0px,  black -2px 0px,black 0px -2px, black 0px 2px,black 2px 2px , black -2px 2px,black 2px -2px, black -2px -2px,black 1px 2px,  black -1px 2px,black 1px -2px, black -1px -2px,black 2px 1px,  black -2px 1px,black 2px -1px, black -2px -1px;width: 100%;background : rgba(255, 255, 255, 0.5);}
.post_list .post .v-card__subtitle {position: absolute;right: 0;color: white !important;font-weight: bold;text-shadow: black 1px 0px,  black -1px 0px,black 0px -1px, black 0px 1px,black 1px 1px , black -1px 1px,black 1px -1px, black -1px -1px,black 1px 1px,  black -1px 1px,black 1px -1px, black -1px -1px,black 1px 1px,  black -1px 1px,black 1px -1px, black -1px -1px;background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 20%, rgb(0, 0, 0) 60%) ;}
.post_list .post .post_hover a:hover .gard {position: absolute;top: 0;left: 0;z-index: 1;width: 100%;height: 100%;background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0) 30%, rgb(252, 105, 0) 100%) ; }
.post_list .post .post_hover a:hover .thumbnail{transition: filter 0.8s ease;filter: blur(2px) brightness(1.2);animation-name: blur;animation-duration: 5s;}
.post_list .comment_submit{position: relative;}
.post_list .comment_submit .submit{position: absolute;top: 1rem;right: 0.7rem;}
/* post detail */
.post_detail .video_layout .detail_title{font-size: 1.3rem;}
.post_detail .video_layout .user{color: #706e6e;}
.post_detail .video_layout .url{font-size: 0.9rem;word-break: break-all;text-decoration: underline;}
.post_detail .video_layout .url a{color: #706e6e!important;}
.post_detail .video_layout .v-sheet {border-radius: 0px!important;}
.post_detail .video_layout .tiktok_back_view{height: 700px!important;background: url("../images/tiktok.png") no-repeat center;background-color: black!important;background-size: contain;position: relative;z-index: 0;overflow: hidden;}
.post_detail .video_layout .tiktok_back_view:before{content: '';background: inherit;-webkit-filter: blur(10px);-moz-filter: blur(10px);-o-filter: blur(10px);-ms-filter: blur(10px);filter: blur(10px);position: absolute;top: -5px;left: -5px;right: -5px;bottom: -5px;z-index: -1;}
.post_detail .video_layout .back_view{background-color: rgb(224, 224, 224);margin: 0 auto;}
.post_detail .video_layout .back_view .video_view, .post_detail .back_view{width: 100%;max-width: 1160px;}
.post_detail .video_layout .back_view .tiktok_view{display: block;width: 341px!important;height: 100%!important;margin: 0 auto;}
.post_detail .video_layout .menu_icons {display: flex;}
.post_detail .video_layout .menu_icons .button--like {background: white!important; border-color: white!important;}
.post_detail .video_layout .menu_icons .button--liked,
.post_detail .video_layout .menu_icons .button--liked .v-btn__content {color: #e4406f;}
.post_detail .detail_layout {background-color: #f8f8f8;}
.post_detail .detail_layout .detail{display: flex; font-size: 0.8rem;}
.post_detail .detail_layout .detail div{display: grid; text-align: center;}
.post_detail .detail_layout .comments_layout .comment_submit{position: relative;}
.post_detail .detail_layout .comments_layout .comment_submit .input{background: white;}
.post_detail .detail_layout .comments_layout .comment_submit .submit{position: absolute;top: 1px;right: 0.2rem;}
.post_detail .detail_layout .comments_layout .comments {list-style: none;overflow:auto;width:100%;overflow-y: scroll;}
.post_detail .detail_layout .comments_layout .comments .comment {font-size: 1.1rem;word-wrap: break-word;}
.post_detail .detail_layout .comments_layout .comments .user {color: #706e6e;font-size: 0.8rem;}

@media screen and ( max-width:379px){
  .message {margin-top: 1rem;margin-bottom: 0rem;}
  main {margin-bottom: 0rem;margin-top: 3.3rem;}
  .v-btn:not(.v-btn--round).v-size--default {padding: 0 10px!important;}
  .v-menu__content {bottom: 100px!important;top: unset!important;}
  /* post */
  .post .thumbnail{height: 179px;}
  .post .v-card__title {font-size: 0.95rem!important;}
  .post .v-card__subtitle {font-size: 0.8rem!important;}
  /* post detail */
  .post_detail .video_layout .tiktok_back_view{width: 342px!important;}
  .post_detail .video_layout .back_view{height: 200px;background-color: rgb(224, 224, 224);}
  .post_detail .video_layout .back_view .video_view{width: 100%;height: 200px;}
  .post_detail .detail_layout{padding-top: 0px!important;}
  .post_detail .detail_layout .comments_layout {padding: 0 8px 0 8px;}
  .post_detail .detail_layout .comments_layout .comments {overflow:none;height:100%;}
}

@media screen and (min-width:380px) and ( max-width:414px){
  main {margin-bottom: 0rem;}
  .v-btn:not(.v-btn--round).v-size--default {padding: 0 10px!important;}
  .v-menu__content {bottom: 100px!important;top: unset!important;}
  /* post */
  .post .thumbnail{height: 199px;}
  .post .v-card__subtitle {font-size: 0.8rem!important;}
  /* post detail */
  .post_detail .video_layout .tiktok_back_view{width: 342px!important;}
  .post_detail .video_layout .back_view{height: 250px;}
  .post_detail .video_layout .back_view .video_view{height: 250px;}
  .post_detail .detail_layout{padding-top: 0px!important;}
  .post_detail .detail_layout .comments_layout {padding: 0 8px 0 8px;}
  .post_detail .detail_layout .comments_layout .comments {overflow:none;height:100%;}
}

@media screen and (min-width:415px) and ( max-width:599px){
  main {margin-bottom: 0rem;}
  .v-btn:not(.v-btn--round).v-size--default {padding: 0 10px!important;}
  .v-menu__content {bottom: 100px!important;top: unset!important;}
  /* post */
  .post .thumbnail{height: 220px;}
  .post .v-card__subtitle {font-size: 0.9rem!important;}
  /* post detail */
  .post_detail .video_layout .back_view{height: 280px;}
  .post_detail .video_layout .back_view .video_view{height: 280px;}
  .post_detail .detail_layout{padding-top: 0px!important;}
  .post_detail .detail_layout .comments_layout {padding: 0 8px 0 8px;}
  .post_detail .detail_layout .comments_layout .comments {overflow:none;height:100%;}
}

@media screen and (min-width:600px) and ( max-width:959px){
  main {margin-bottom: 0rem;}
  .v-btn:not(.v-btn--round).v-size--default {padding: 0 10px!important;}
  .v-menu__content {bottom: 100px!important;top: unset!important;}
  /* post */
  .post .thumbnail{height: 196px;}
  .post .v-card__title {font-size: 1.1rem!important;}
  /* post detail */
  .post_detail .video_layout .back_view,
  .post_detail .video_layout .back_view .video_view{height: 390px;}
  .post_detail .detail_layout{padding-top: 0px!important;}
  .post_detail .detail_layout .comments_layout {padding: 0 8px 0 8px;}
  .post_detail .detail_layout .comments_layout .comments {overflow:none;height:100%;}
}

@media screen and  (min-width: 960px) and (max-width:1263px){
  ::-webkit-scrollbar {width: 10px;}
  ::-webkit-scrollbar-track {border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);}
  ::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 50, .5);border-radius: 10px;box-shadow:0 0 0 1px rgba(255, 255, 255, .3);}
  .nav_tool>div{max-width: 900px}
  /* post */
  .post .thumbnail{height: 114px;}
  .post .v-card__subtitle {font-size: 0.75rem!important;}
  /* post detail */
  .post_detail .video_layout .back_view,
  .post_detail .video_layout .back_view .video_view{height: 370px;}
  .post_detail .detail_layout .comments_layout .comments {height:390px;}
  .post_detail .detail_layout .comments_layout .tiktok_comments {height:690px!important;}
}

@media screen and  (min-width: 1264px) {
  ::-webkit-scrollbar {width: 10px;}
  ::-webkit-scrollbar-track {border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);}
  ::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 50, .5);border-radius: 10px;box-shadow:0 0 0 1px rgba(255, 255, 255, .3);}
  .nav_tool>div{max-width: 1185px}
  /* post */
  .post .thumbnail{height: 154px;}
  .post .v-card__subtitle {font-size: 0.8rem!important;}
  /* post detail */
  .post_detail .video_layout .back_view,
  .post_detail .video_layout .back_view .video_view{height: 487px;}
  .post_detail .detail_layout .comments_layout .comments {height:505px;}
  .post_detail .detail_layout .comments_layout .tiktok_comments {height:690px!important;}
}